html, body {
  margin: auto;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}



/* Main */
.main {
 text-align: center;
 background: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg) no-repeat center;
 background-size: cover;
 height: 600px;
}

.main .container {
  width: 940px;
  position: relative;
  text-align: center;
  color: #fff;
}

.main h1 {
  font-size: 150px;
  margin: 0px;
}

.main p {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.main .btn {
	border: 2px solid #000000;
	background-color: #000000;
	height: 25px;
	width: 100px;
	margin: auto;
	text-align: center;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color: #1c1c1c;
}

.supporting .container {
  text-align: center;
  position: relative;
  margin: auto;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
  margin: auto;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  height: 600px;
  background: url(http://14761-presscdn-0-15.pagely.netdna-cdn.com/wp-content/uploads/2016/05/hope-technology-5am_29-1140x760.jpg);
  background-size: cover;
}

.feature .container {
  width: 940px;
  margin: auto;
  position: relative;
  text-align: center;
}

.feature h1,
.feature h2 {
  color: #000000;
  font-size: 40px;
  margin: 0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  height: 600px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg);
}

.footer .container {
  text-align: center;
  position: relative;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: auto;
  padding: 50px 0 0;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.footer .btn {
  border: 2px solid #000000;
  padding: 8px 30px;
  background-color: #000000;
  color: #fff;
  margin: 20px;
  font-size: 18px;
  text-decoration: none;
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}
